services:
  nginx:
    image: nginx:latest
    volumes:
      - ./nginx/backend.conf:/etc/nginx/conf.d/backend.conf
      - ./nginx/frontend.conf:/etc/nginx/conf.d/frontend.conf
      - ./backend/:/var/www/html/backend
      - ./frontend/:/var/www/html/frontend
    depends_on:
      - backend
      - frontend
    ports:
      - "81:81"
    networks:
      - app-network

  database:
    image: mariadb:10.11
    environment:
      MARIADB_ROOT_PASSWORD: root
      MARIADB_PORT: 3306
      MARIADB_DATABASE: test
      MARIADB_USER: test
      MARIADB_PASSWORD: test
    volumes:
      - ./backend/db:/docker-entrypoint-initdb.d:ro 
      - db_data:/var/lib/mysql
    healthcheck:
      test: ["CMD", "mysqladmin", "ping", "-uroot", "-proot", "--silent"]
      interval: 5s
      timeout: 3s
      retries: 60
      start_period: 60s
    restart: unless-stopped

  backend:
    build: 
      context: ./backend
      dockerfile: Dockerfile
    working_dir: /var/www/html/backend
    volumes:
      - ./backend:/var/www/html/backend
    ports:
      - "5000:5000"
    command: python python_api.py
    depends_on:
      - database

  # calculate:
  #   build: 
  #     context: ./backend
  #     dockerfile: Dockerfile
  #   working_dir: /backend
  #   volumes:
  #     - ./backend:/var/www/html/backend
  #   ports:
  #     - "8000:8000"
  #   command: uvicorn Controllers.Calculate.main:app --host 0.0.0.0 --port 8000
  #   depends_on:
  #     - database
  #     - backend

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    working_dir: /var/www/html/frontend
    ports:
      - "3000:3000"
    volumes:
      - ./frontend:/var/www/html/frontend
      - /var/www/html/frontend/node_modules
    depends_on:
      - backend

networks:
  app-network:
    driver: bridge


volumes:
  db_data: